.block {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        text-align: center;
        .name {
            overflow-wrap: anywhere;
        }
    }
}
